In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
!pip install xgboost
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

Requirement already satisfied: xgboost in c:\users\sence\anaconda3\envs\pythondata\lib\site-packages (1.6.2)
Requirement already satisfied: numpy in c:\users\sence\anaconda3\envs\pythondata\lib\site-packages (from xgboost) (1.21.6)
Requirement already satisfied: scipy in c:\users\sence\anaconda3\envs\pythondata\lib\site-packages (from xgboost) (1.5.0)

WARNING: Ignoring invalid distribution -umpy (c:\users\sence\anaconda3\envs\pythondata\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\sence\anaconda3\envs\pythondata\lib\site-packages)

In [3]:
credit_record = pd.read_csv('credit_record.csv')
application_record = pd.read_csv('application_record.csv')

In [4]:
merged_data = pd.merge(application_record, credit_record, on='ID', how='inner')

In [5]:
def classify_credit_status(status):
    if status in ['0', 'C']:
        return 'Non-Risky'
    else:
        return 'Risky'

In [6]:
merged_data['CREDIT_STATUS'] = merged_data['STATUS'].apply(classify_credit_status)

In [7]:
merged_data.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,MONTHS_BALANCE,STATUS,CREDIT_STATUS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,NaN,2.0,0,C,Non-Risky
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,NaN,2.0,-1,C,Non-Risky
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,NaN,2.0,-2,C,Non-Risky
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,NaN,2.0,-3,C,Non-Risky
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,NaN,2.0,-4,C,Non-Risky

In [8]:
X = merged_data[['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS']]
y = merged_data['CREDIT_STATUS']

In [26]:
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

In [27]:
model = XGBClassifier()
model.fit(X_train, y_train_encoded)
y_pred_encoded = model.predict(X_test)

In [28]:
accuracy = accuracy_score(y_test_encoded, y_pred_encoded)
conf_matrix = confusion_matrix(y_test_encoded, y_pred_encoded)
classification_rep = classification_report(y_test_encoded, y_pred_encoded)

In [29]:
print(f'Accuracy: {accuracy:.2f}')
print(f'Confusion Matrix:\n{conf_matrix}')
print(f'Classification Report:\n{classification_rep}')

Accuracy: 0.83
Confusion Matrix:
[[122881   1348]
 [ 25582   5732]]
Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.99      0.90    124229
           1       0.81      0.18      0.30     31314

    accuracy                           0.83    155543
   macro avg       0.82      0.59      0.60    155543
weighted avg       0.82      0.83      0.78    155543